h2 { 
    color: #FF0000;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.csapattag {
    clear: right;
    margin-top: 20px;
    margin-left: 50px;
}

.nev {
    text-align: center;
    color: #0000FF;
}

.csapattag img {
    float: right;
}

.csapat img {
    float: left;
}

