body {
    background: lightgray;
}

header {
    height: 50px;
    background: gray;
    color:brown;
    text-align: center;
}

img {
    height: 50px;
 
}

#leftlogo {
    float: left;
    -moz-transform: scale(-1, 1); 
    -webkit-transform: scale(-1, 1); 
    -o-transform: scale(-1, 1); 
    transform: scale(-1, 1); 
    filter: FlipH;
}

header h1 {
    display: inline;

}

#rightlogo {
    float: right;
}

footer {
    height: 50px;
    background: gray;
}


#lablec div {
    width: 50%;
    float: left;
    text-align: center;
    font-size: 10px;
    line-height: 1;
}

#lablec p {
    margin: 0px;
}

#lablec h6 {
    color:brown;
    margin: auto;
}

.menubar {
    background: burlywood;
}

.tartalom {
    background: chocolate;
    text-align: justify;
    
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

a {
    background: chocolate;
    margin: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}



