#fejlec {
    width: 1000px;
    margin: 0px auto 0px auto;
    
}

img {
    width: 500px;
    margin: 0px auto 0px auto;
}

#balmenu {
    width: 200px;
    float: left;
}

#tartalom {
    width: auto;
    float: left;
}

#balmenu li {
    list-style: none;
}

#balmenu button {
    width: 150px;
    height: 50px;
    text-align: left;
    padding: auto auto auto 20px;
    margin: 10px 0px; 
}

#keret {
    width: 1000px;
    height: 400px;
}